<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReservationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62135/ReservationService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReservationService"
                contract="ReservationService.IReservationService" name="BasicHttpBinding_IReservationService" />
        </client>
    </system.serviceModel>
</configuration>